.Toolbar {
    background-color: #DB4C3F;
}

.ToolbarContent {
    max-width: 1100px;
    height: 5vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}